@using BlazorCrudDemo.Web.Components.Layout

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (IsAuthRoute(routeData.PageType))
        {
            <!-- Authentication routes use MainLayout (AuthLayout doesn't exist) -->
            <LayoutView Layout="@typeof(MainLayout)">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </LayoutView>
        }
        else
        {
            <!-- Regular app routes use MainLayout -->
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool IsAuthRoute(Type pageType)
    {
        return pageType.Namespace?.StartsWith("BlazorCrudDemo.Web.Pages.Auth") == true;
    }
}
